.navbar {
    display: flex;
    flex-direction: row;
}

header {
    flex: 2;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    flex: 1;
}

.main-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.article-text {
    position: relative;
    left: 30px
}

.viz-content {}

.viz-section {
    margin: 0 auto;
}